p {
  color: teal;
}
html{
  background-image:url("background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 5em;
}
body{
  background-color: transparent;
}
.text-center{
  text-align: center;
  font-family: fantasy;
}
.row{
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: cursive;
}
#header{
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: teal;
  color: white;
  border-bottom: 3px solid #2d7a76;
  z-index: 10;
  padding: 1em;
  padding-left: 2em;
  margin-top: 0em;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}
.card-body{
  text-align: justify;
  padding-left: 1em;
  margin: 1em;
  font-family: cursive;
}
.card-columns {
  font-family: cursive;
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
#carouselExampleControls{
  width: 33%;
}
.nav-item {
  font-family: cursive;
}
#home-tab {
  color: teal;
  background-color: transparent;
}
#profile-tab {
  color: teal;
  background-color: transparent;
}
#contact-tab {
  color: teal;
  background-color: transparent;
}
